header
{
	background-color: #222;
	border-bottom: 2px solid #666;
	font-family: 'Roboto Slab', serif;
	

	h1
	{
		font-weight: bold;
		color: #fff;
		font-family: 'Roboto Slab', serif;
	}
}

main
{
	background-color: #BA4100;
	height: 90%;
	background-image: url(../img/blue_sky.jpg);


	.functional
	{
		a
		{
			margin-top: 30px;
			border: 6px solid #179CE8;
			color: #fff;
			display: block;
			padding: .75em 0;
			font-weight: bold;
			font-family: 'Roboto Slab', serif;
			background-color: #333;
		}

		a:hover
		{
			border: 6px solid #bada55;
		}
	}

	.reference
	{
		a
		{
			margin-top: 30px;
			border: 6px solid #26EFFF;
			color: #fff;
			display: block;
			padding: .75em 0;
			font-weight: bold;
			font-family: 'Roboto Slab', serif;
			background-color: #333;
		}

		a:hover
		{
			border: 6px solid #bada55;
		}
	}

	.data
	{
		a
		{
			margin-top: 30px;
			border: 6px solid #17E8B7;
			color: #fff;
			display: block;
			padding: .75em 0;
			font-weight: bold;
			font-family: 'Roboto Slab', serif;
			background-color: #333;
		}

		a:hover
		{
			border: 6px solid #bada55;
		}
	}

	.other
	{
		a
		{
			margin-top: 30px;
			border: 6px solid #19FF81;
			color: #fff;
			display: block;
			padding: .75em 0;
			font-weight: bold;
			font-family: 'Roboto Slab', serif;
			background-color: #333;
		}

		a:hover
		{
			border: 6px solid #bada55;
		}
	}

	.contact
	{
		a
		{
			margin-top: 30px;
			border: 6px solid #19FF81;
			color: #fff;
			display: block;
			padding: .75em 0;
			font-weight: bold;
			font-family: 'Roboto Slab', serif;
			background-color: #333;
		}

		a:hover
		{
			border: 6px solid #bada55;
		}
	}
}

footer
{
	position: fixed;
	bottom: 0;
	background-color: #222;
	width: 100%;
	color: #fff;
	padding: 2em 0 1em 0;
	border-top: 2px solid #666;
	font-family: 'Roboto Slab', serif;

}